---
import Header from '../components/Header.astro';
import CropPredictionForm from '../components/Form.jsx';
import Charts from '../components/Charts';
---
<Header />
<body>
        <CropPredictionForm client:load />
	
</body>
